  /* visual */
  #visual {
    width:1200px;
    margin: 0 auto;
    position: relative;
  }
  #visual .left {
    float: left;
    width:900px;
  }
  #visual .left .bx-wrapper {
    margin-bottom: 0;
  }
  #visual .left .bx-wrapper .bx-controls-auto {
    bottom: 0;
    z-index: 90;
  }
  #visual .left img {
    width: 100%;
  }
  #visual .left .bx-wrapper .bx-pager {
    position: absolute;
    top: 10px;
    left: 0px;
    padding-top: 0;
    width: 100%;
  }
  #visual .right {
    float: right;
    padding: 0 0 3px;
    width: 300px;
    background: url(../images/back.jpg) no-repeat center;
    background-size: 100% 100%;
  }
  #visual .right h2 {
    line-height: 1;
    padding: 25px 0 15px;
    text-align: center;
    color: #333;
  }
  .dbsearch_box {
    width: 200px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
  }
  .dbsearch {
    float: left;
    width: 150px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    text-indent: 10px;
  }
  .dbsearch_box button {
    float: left;
    width: 30px;
    height: 30px;
    background: #eee;
    color: #333;
    cursor: pointer;
  }
  .dbsearch_box .xi-search {
    color: #000;
    font-size: 20px;
  }
  .db {
    padding: 0 5px;
  }
  .db a {
    display: block;
    float: left;
    font-weight: bold;
  }
  .db a:nth-child(odd) {
    width: 120px;
    padding: 0 0 10px 8px;
  }
  .db a:nth-child(even) {
    width: 150px;
    padding: 0 0 10px 6px;
  }
  .db span {
    font-size:14px;
    padding-left:2px
  }
  .db img {
    vertical-align: middle;
  }
  .db a:hover {
    color: #28a76e;
  }

  /* contents */
  #contents {
    margin: 0 auto;
  }
  .block {
    margin: 0 auto;
  }
  .block > div {
    margin: 0 auto;
    width: 1200px;
  }

  /* con1 */
  .con1 {
    background: #eee;
  }
  .con1 > div {
    position: relative;
  }
  .con1 h2 {
    text-align: center;
    font-size: 28px;
    padding: 20px 0;
    color: #333;
  }
  .book_info {
    position: relative;
    width:1200px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .book_info .bx-viewport {
    background-color: #eee;
  }
  .book_info .bx-wrapper {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
  }
  .book_info .bx-wrapper .bx-pager,
  .book_info .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 0;
  }
  .book_info .bx-wrapper .bx-pager {
    width: 120px !important;
    left: 50%;
    transform: translateX(-50%);
  }
  .book_info .bx-wrapper .bx-controls-auto {
    z-index: 90;
  }
  .con1-slider li {
    width: 240px !important;
    height: 400px;
    margin: 30px 80px !important;
  }
  .con1-slider li > a {
    display: block;
    width: 240px;
  }
  .con1-slider li a img {
    width: 200px;
    height: 280px;
    margin: 0 auto;
  }
  .con1-slider li p {
    text-align: center;
    padding: 5px 0 0;
  }
  .con1-slider a:hover p {
    font-weight: bold;
  }
  .con1-slider a:hover span {
    color: #28a76e;
  }
  .con1 .more {
    display: block;
    position: absolute;
    right: 110px;
    top: 25px;
    font-size:16px
  }
  .con1 .more:hover {
    color: #28a76e;
  }

  .con2 {
    background: #fff;
  }
  .con2 .left {
    width: 600px;
    float: left;
    margin-bottom: 30px;
  }
  .con2 .right {
    width: 600px;
    float: right;
  } 
  .con2 h2 {
    padding: 20px 0 10px 10px;
    color: #333;
  }
  .tab {
    width: 550px;
    height: 190px;
    border: 1px solid #ccc;
    position: relative;
  }
  .tablist {
    position:relative;
    border-bottom:1px solid #ccc;
  }
  .tablist:after{
    content:"";
    display:block;
    clear:both;
  }
  .tablist > li{
    float: left;
    margin-bottom:-1px;
  }
  .tablist .title {
    border:1px solid #eee;
    border-bottom-color:#ccc;
    background-color: #fafafa;
    color: #666;
    font-size: 15px;
    display: inline-block;
    padding: 6px 25px;
    cursor: pointer;
  }
  .tablist li ul {
    display: block;
    width: 100%;
    position: absolute;
    top: 35px;
    left: 0;
  }
  .tablist li ul:after {
    content:"";
    display:block;
    clear:both;
  }
  .tablist > li > ul > li .tab_img  {
    display: block;
    width: 100px;
    height: 100px;
    margin: 30px 20px;
    background: url(../images/a.png) no-repeat center / auto 100%;
  }
  .tabliist > li > ul > li{
    position: relative;
  }
  .tablist > li > ul > li .tit {
    position: absolute;
    top:20px;
    left:150px;
    color:#28a76e;
    font-size:17px;
  }
  .ct {
    position:absolute;
    width: 390px;
    top:50px;
    left:150px;
    color:#333;
    font-size:14px;
    overflow: hidden;
    padding-right: 10px;
  }
  .tablist .more {
    position:absolute;
    top:-29px;
    right:15px;
    background:transparent;
    font-size:14px;
  }
  .tab li.active > a {
    border:1px solid #28a76e;
    border-bottom: transparent;
    margin-top:-1px;
    background:transparent;
    color:#28a76e;
    font-weight: bold;
  }
  .subs {
    width: 550px;
    line-height: 50px;
    background-color: #28a76e;
    font-size: 14px;
    position: relative;
    border: 1px solid #ccc;
    border-top: 0;
  }
  .subs a {
    display: block;
    padding: 0 0 0 15px;
    color: #fff;
    transition: all 0.3s;
  }
  .subs a:hover {
    background-color: #2d9d6b;
  }
  .subs img {
    vertical-align: middle;
  }
  .subs strong {
    padding-left: 10px;
  }
  .subs span {
    padding-left: 15px;
  }
  .app .bx-wrapper .bx-pager {
    position: absolute;
    top: -10px;
    left: 0px;
    width: 100%;
  }

  .app, .mov {
    width: 250px;
    float: left;
    margin-left: 49px;
  }
  .app span {
    font-size:18px;
  }
  .app img, .mov img {
    border: 1px solid #ccc;
  } 

  /* con3 */
  .con3 {
    background-color: #28a76e;
  }
  .con3 > div {
    width: 1200px;
    margin: 0 auto;
    height: 560px;
  }
  .con3 .left {
    width: 600px;
    float: left;
    padding-top: 20px;
  }
  .tab2 {
    width: 550px;
    height: 466px;
  }
  .tablist2 {
    position: relative;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
  }
  .tablist2:after{
    content: "";
    display: block;
    clear: both}

  .tablist2 > li{
    float: left;
    margin-bottom: -1px;
  }
  .tablist2 > li > a {
    position: relative;
    float: left;
    border-bottom-color: #fff;
    color: #ddd;
    font-weight: bold;
  }
  .tablist2 > li > a > span {
    display: inline-block;
    padding: 6px 25px;
    cursor: pointer;
    font-size: 25px;
  }
  .tablist2 > li > ul {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
  }
  .tablist2 > li > ul:after {
    content: "";
    display: block;
    clear:both;
  }
  .tablist2 > li > ul > li {
    position : relative;
  }
  .tablist2 > li > ul > li > a {
    display: block;
    color: #ddd;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #ccc;
    transition: all 0.3s;
  }
  .tablist2 > li > ul > li > a:hover,
  .tablist2 > li > ul > li > a:active,
  .tablist2 > li > ul > li > a:focus {
    color:#fff;
  }
  .time {
    position: absolute;
    top: 17px;
    right: 10px;
    color: #ddd;
    font-size: 13px;
  }
  .tablist2 .more {
    position:absolute;
    top:8px;
    right:10px;
    border:0 !important;
  }
  .tablist2 > li.active > a {
    border-bottom:1px solid #fff;
    margin-top:-1px;
    color:#fff;
  }
  .box1 {
    width: 250px;
    height: 240px;
    float: left;
    margin: 20px 0 20px 50px;
  }
  .qna {
    width: 250px;
    height: 110px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    clear: both;
  }
  .qna a {
    display: block;
    width: 250px;
    height: 110px;
    transition: all 0.3s;
  }
  .qna div {
    float: left;
  }
  .qna_emo {
    padding: 30px 15px;
  }
  .qna div span {
    font-size: 40px;
  }
  .qna_txt h3,
  .qna_txt p {
    color: #333;
  }
  .qna_txt h3 {
    padding: 20px 0 5px;
    font-size: 18px;
  }
  .qna p {
    font-size: 12px;
  }
  .qna a:hover {
    background-color: #fff;
  }
  .qna a:hover span
  .qna a:hover h3,
  .qna a:hover p {
    color: #000;
  }
  .service {
    width: 250px;
    height: 120px;
    background-color: #f0f0f0;
  }
  .service a {
    display: block;
    width: 124px;
    height: 120px;
    float: left;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    transition: all 0.3s;
  }
  .service a:first-child {
    border-right: 1px solid #ccc;
  }
  .service a:hover {
    background-color: #fff;
    color: #000;
  }
  .service span {
    font-size:15px;
  }
  .box2 {
    width: 250px;
    height: 240px;
    float: left;
    background-color: #fff;
    margin: 20px 0 20px 46px;
  }
  .box2 h3 {
    padding: 10px 0 10px 15px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    color: #333;
  }
  .box2 a {
    display: block;
    float: left;
    width: 83px;
    padding: 10px 0;
    text-align: center;
  }
  .box2 span {
    font-size: 12px;
    display: block;
    line-height: 14px;
    padding-top: 5px;
  }
  .box2 img {
    display: block;
    padding: 7px;
    background-color: #28a76e;
    border-radius: 7px;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    transition: all 0.3s;
  }
  .box2 a:hover img {
    background-color: #3bc287;
  }

  .box3 {
    width: 250px;
    height: 240px;
    float: left;
    background-color: #f0f0f0;
    margin-left: 50px;
  }
  .box3 a {
    display: block;
    width: 250px;
    height: 80px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    transition: all 0.3s;
  }
  .box3 img {
    display: block;
    margin: 19px 10px;
    background-color: #ccc;
    border-radius: 5px;
    padding: 5px;
    float: left;
  }
  .box3 a:last-child {
    border: 0;
  }
  .box3 a:hover {
    background-color: #fff;
    color: #000;
  }
  .bus {
    float: left;
  }
  .box3 h3 {
    font-size: 15px;
    padding: 10px 10px 0;
  }
  .box3 p {
    font-size: 12px;
  }
  .box4 {
    width: 250px;
    height: 240px;
    float: left;
    margin-left: 46px;
  }
  .box4 .bx-wrapper {
    margin-bottom: 0;
  }
  .box4 .bx-wrapper .bx-pager {
    position: absolute;
    top: -20px;
    left: 0px;
    width: 100%;
  }
  .box4 img {width: 100%;}

  /* con4 */
  .con4 > div {
    padding: 20px 0;
  }
  .con4 li a {
    display: block;
    border:1px solid #ccc;
    width: 150px;
    margin: 10px 0 10px 25px;
  }
  .con4 .bx-wrapper {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  margin-bottom: 0;
  }